@use "sass:color";

window#quicksettings .quicksettings {
  @include floating-widget;
  @include spacing;
  padding: calc(var(--popover-padding) * 1.4);

  .avatar {
    @include widget;
    min-width: 65px;
    min-height: 65px;
    border-radius: calc(var(--radius) * 3);
    background-clip: padding-box;
  }

  .username {
    font-size: 1.25em;
    margin-left: calc(var(--spacing) / 2);
    font-weight: bold;
  }

  .header {
    @include spacing(.5);
    color: color-mix(in srgb, var(--fg) 85%, transparent);

    button {
      @include button;
      padding: var(--padding);

      icon:first-child {
        font-size: 1.4em;
      }
    }
  }

  .sliders-box {
    @include widget;
    padding: var(--padding);

    .volume {
      button {
        @include button($flat: true);
        padding: calc(var(--padding) / 2);
      }

      button.arrow:last-child {
        margin-left: calc(var(--spacing) * 0.4);
      }
    }


    .control-unit {
      button {
        @include button($flat: true);
        padding: calc(var(--padding) / 2);
      }

      padding: calc(var(--padding) / 2);

      scale {
        @include slider;
        margin: 0 (calc(var(--spacing) / 2));

        &.muted highlight {
          background-image: none;
          background-color: color-mix(in srgb, var(--fg) 80%, transparent);
        }
      }
    }

    .menu {
      margin: (calc(var(--spacing) / 2)) 0;

      &.device-selector .sink-item,
      &.app-mixer .mixer-item {
        @include spacing(.5);
      }

      &.app-mixer .mixer-item {
        padding: calc(var(--padding) / 2);

        scale {
          @include slider($width: .5em);
        }
      }
    }
  }

  .row {
    @include spacing;
  }

  .menu {
    @include unset;
    @include widget;
    @include scrollable;
    padding: var(--padding);
    margin-top: var(--spacing);

    .icon {
      margin: 0 (calc(var(--spacing) / 2));
      margin-left: calc(var(--spacing) * 0.2);
    }

    .title {
      font-weight: bold;
    }

    separator {
      margin: calc(var(--radius) / 2);
      background-color: var(--border-color);
    }

    button {
      @include button($flat: true);
      padding: calc(var(--padding) * 0.7);

      icon:first-child {
        margin-right: calc(var(--spacing) / 2);
      }
    }

    .device-scroll {
      min-height: 200px;
    }

    .settings {
      @include spacing(.5);
    }

    switch {
      @include switch;
    }

    &.bluetooth-selector .bluetooth-item,
    &.mirror-selector .mirror-item,
    &.profile-selector .profile-item,
    &.wifi-selector .wifi-item {
      @include spacing(.5);
    }
  }

  .toggle-button,
  .simple-toggle {
    @include button;
    font-weight: bold;

    .horizontal {
      @include spacing(.5);
    }
  }

  .toggle-button {
    button {
      @include button($flat: true);

      &:first-child {
        padding: calc(var(--padding) * 1.2);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:last-child {
        padding: calc(var(--padding) / 2);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    &.active {
      background-color: var(--primary-bg);

      label,
      image {
        color: var(--primary-fg);
      }
    }
  }

  .simple-toggle {
    padding: calc(var(--padding) * 1.2);
  }

  .media {
    @include spacing;

    .player {
      @include media;
    }
  }
}
