@use 'sass:color';
@use '../../../../style/base' as *;

window#bar {

  box.colorpicker {
    @include spacing(0.5);
    button {
      padding: calc(var(--padding) / 2) calc(var(--padding));
    }
    padding: calc(var(--padding) / 2);
  }

  button.recorder {
    box {
      @include spacing(0.5);
    }

    image {
      color: color-mix(in srgb, var(--error-bg) 70%, transparent);
    }

    &:hover image {
      color: color-mix(in srgb, var(--error-bg) 85%, transparent);
    }

    &:active image {
      color: var(--primary-fg);
    }
  }

  button.media {
    box {
      all: unset;
      revealer label {
        margin-left: calc(var(--spacing) / 2);
      }
    }
  }
}
