@use 'sass:color';

.colorpicker {
  @include spacing (.5);
  padding: calc(var(--padding) / 2);
}

.bar .tasks .focused {
  background-color: var(--primary-bg);
  border-radius: var(--radius);
  padding: 1.25pt;
  margin-top: 1pt;
  margin-bottom: 1pt;
}

.bar .media box {
  @include spacing(.5);
}

.bar .recorder {
  .horizontal { @include spacing(.5); }

  image { color: color-mix(in srgb, var(--error-bg) 70%, transparent); }
  &:hover image { color: color-mix(in srgb, var(--error-bg) 85%, transparent); }
  &:active image { color: var(--primary-fg); }
}
