@use "sass:color";

@mixin spacing($multiplier: 1) {
  &.horizontal > * {
    margin: 0 calc(var(--spacing) * $multiplier / 2);

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &.vertical > * {
    margin: calc(var(--spacing) * $multiplier / 2) 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.outlined-button {
  background-color: var(--widget-bg);
  box-shadow: inset 0 0 0 var(--border-width) var(--border-color);

  &:hover {
    background-color: var(--hover-bg);
    color: var(--hover-fg);
  }

  &:active {
    background-image: var(--active-gradient);
    background-color: var(--primary-bg);
    color: var(--primary-fg);
  }
}

.reset-button {
  background-color: transparent;
  background-image: none;
  box-shadow: none;

  &:active {
    box-shadow: inset 0 0 0 var(--border-width) var(--border-color);
    background-image: var(--active-gradient);
    background-color: var(--primary-bg);
    color: var(--primary-fg);
  }
}

* {
  --hover-fg: color-mix(in srgb, var(--fg), white 8%);
  --border: var(--border-width) solid var(--border-color);

  font-size: var(--font-size);
  font-family: var(--font-name);
}

window {
  background-color: var(--bg);
  color: var(--fg);
}

window.dark {
  --text-shadow: 2pt 2pt 2pt var(--shadow-color);
  --box-shadow: 2pt 2pt 2pt 0 var(--shadow-color), inset 0 0 0 var(--border-width) var(--border-color);
}

window.light {
  --text-shadow: none;
  --box-shadow: none;
}

separator {
  &.horizontal {
    min-height: var(--border-width);
  }

  &.vertical {
    min-width: var(--border-width);
  }
}

tooltip {
  background-color: transparent;
  border: none;

  label {
    background-color: var(--bg);
    border-radius: var(--radius);
    border: var(--border-width) solid var(--popover-border-color);
    color: var(--fg);
    padding: 8px;
    margin: 4px;
    box-shadow: 0 0 3px 0 var(--shadow-color);
  }
}

.widget {
  transition: var(--transition);
  border-radius: var(--radius);
  color: var(--fg);
  background-color: var(--widget-bg);
  border: var(--border);
}

.floating {
  box-shadow: 0 0 5px 0 var(--shadow-color);
  margin: max(var(--spacing), 8px);
  border: var(--border-width) solid var(--popover-border-color);
  background-color: var(--bg);
  color: var(--fg);
  border-radius: var(--popover-radius);
  padding: var(--popover-padding);
}

box.compact {
  @include spacing(0.5);
}

.hidden {
  background-color: transparent;
  background-image: none;
  border-color: transparent;
  box-shadow: none;
  transform: scale(0);

  * {
    background-color: transparent;
    background-image: none;
    border-color: transparent;
    box-shadow: none;
    transform: scale(0);
  }
}
