@import './button';

@mixin accs-button($reactive: true) {
  @include unset;
  color: var(--fg);

  > :not(window):not(popover) {
    border-radius: var(--radius);
    transition: var(--transition);
    background-color: transparent;
    box-shadow: none;
  }

  @if $reactive {
    &:focus > :not(window):not(popover),
    &.focused > :not(window):not(popover) {
      @include button-focus;
    }

    &:hover > :not(window):not(popover) {
      @include button-hover;
    }

    &:active,
    &.active,
    &.on,
    &:checked {
      > :not(window):not(popover) {
        @include button-active;
      }

      &:hover > :not(window):not(popover) {
        box-shadow: inset 0 0 0 var(--border-width) var(--border-color),
                    inset 0 0 0 0px var(--hover-bg);
      }
    }
  }
}
