@use "sass:color";

@mixin button-focus() {
  &:not(popover) {
    box-shadow: inset 0 0 0 calc(var(--border-width) / 2) var(--primary-bg);
    background-color: var(--hover-bg);
    color: var(--hover-fg);
  }
}

@mixin button-hover() {
  &:not(popover) {
    box-shadow: inset 0 0 0 var(--border-width) var(--border-color);
    background-color: var(--hover-bg);
    color: var(--hover-fg);
  }
}

@mixin button-active() {
  &:not(popover) {
    box-shadow: inset 0 0 0 var(--border-width) var(--border-color);
    background-image: var(--active-gradient);
    background-color: var(--primary-bg);
    color: var(--primary-fg);
  }
}

@mixin button-disabled() {
  &:not(popover) {
    box-shadow: none;
    background-color: transparent;
    color: color-mix(in srgb, var(--fg) 30%, transparent);
  }
}

@mixin button($flat: false, $reactive: true, $radius: var(--radius), $focusable: true) {
  all: unset;
  transition: var(--transition);
  border-radius: $radius;
  color: var(--fg);

  @if $flat {
    background-color: transparent;
    background-image: none;
    box-shadow: none;
  }

  @else {
    background-color: var(--widget-bg);
    box-shadow: inset 0 0 0 var(--border-width) var(--border-color);
  }

  @if $reactive {
    @if $focusable {
      &:focus {
        @include button-focus;
      }
    }

    &:hover {
      @include button-hover;
    }

    &:active,
    &.on,
    &.active,
    &:checked {
      @include button-active;
    }
  }

  &:disabled {
    @include button-disabled;
  }
}
