@use 'sass:color';

@mixin calendar {
  @include widget;
  padding: var(--padding) var(--padding) 0;

  calendar {
    all: unset;
    font-size: 1.1em;
    padding: .3em;

    button {
      @include button($flat: true);
      padding: calc(var(--padding) * 0.6);
    }

    label:selected {
      background-color: var(--primary-bg);
      border-radius: calc(var(--radius) * 0.6);
    }

     header { background-color: transparent; border: none; color: color-mix(in srgb, var(--fg) 50%, transparent); }
    .day-name { background-color: transparent; color: color-mix(in srgb, var(--primary-bg) 50%, transparent); }
    .other-month { color: color-mix(in srgb, var(--fg) 10%, transparent); }
  }
}
