@use "sass:color";

@mixin media() {
  @include widget;
  padding: var(--padding);

  .cover-art {
    box-shadow: 2px 2px 2px 0 var(--shadow-color);
    border-radius: calc(var(--radius) * 0.8);
    margin-right: var(--padding);
  }

  .title {
    @include spacing(.5);
    font-weight: bold;
  }

  button {
    @include button($flat: true);
    padding: calc(var(--padding) / 2);

    &.play-pause {
      margin: 0 (calc(var(--spacing) / 2));
    }
  }

  .artist {
    color: color-mix(in srgb, var(--fg) 80%, transparent);
    font-size: .9em;
  }

  scale {
    @include slider($width: .5em, $slider: false, $gradient: linear-gradient(var(--fg), var(--fg)));
    margin-bottom: calc(var(--padding) / 2);

    trough {
      border: none;
    }
  }
}
