@mixin panel-button($reactive: true) {
  @include accs-button($reactive);

  >:not(window) {
    border-radius: var(--radius);
    padding: calc(var(--padding) / 2);
    margin: 0 calc(var(--spacing) * 0.6);
    font-weight: bold;
  }
}

