@use "sass:color";

@mixin scrollable($top: false, $bottom: false) {
  viewport {
    all: unset;
  }

  @if $top {
    undershoot.top {
      background: linear-gradient(to bottom, var(--bg), transparent, transparent, transparent, transparent, transparent);
    }
  }

  @if $bottom {
    undershoot.bottom {
      background: linear-gradient(to top, var(--bg), transparent, transparent, transparent, transparent, transparent);
    }
  }

  scrollbar,
  scrollbar * {
    all: unset;
  }

  scrollbar.vertical {
    transition: var(--transition);
    background-color: color-mix(in srgb, var(--bg) 30%, transparent);

    &:hover {
      background-color: color-mix(in srgb, var(--bg) 70%, transparent);

      slider {
        background-color: color-mix(in srgb, var(--fg) 70%, transparent);
        min-width: .6em;
      }
    }
  }

  scrollbar.vertical slider {
    background-color: color-mix(in srgb, var(--fg) 50%, transparent);
    border-radius: var(--radius);
    min-width: .4em;
    min-height: 2em;
    transition: var(--transition);
  }
}
