@use "sass:color";

@import './unset';

@mixin slider($width: .7em, $slider-width: .5em, $gradient: var(--active-gradient), $slider: true, $hoverable: false, $focusable: true, $radius: var(--radius)) {
  @include unset($rec: true);
  trough {
    transition: var(--transition);
    border-radius: $radius;
    border: var(--border);
    background-color: var(--widget-bg);
    min-height: $width;
    min-width: $width;

    highlight,
    progress {
      border-radius: max(calc($radius - var(--border-width)), 0px);
      background-image: $gradient;
      min-height: $width;
      min-width: $width;
    }
  }

  slider {
    box-shadow: none;
    background-color: transparent;
    border: var(--border-width) solid transparent;
    transition: var(--transition);
    border-radius: $radius;
    min-height: $width;
    min-width: $width;
    margin: -$slider-width;
  }

  &:hover {
    @if $hoverable {
      trough {
        background-color: var(--hover-bg);
      }
    }

    slider {
      @if $slider {
        background-color: var(--fg);
        border-color: var(--border-color);
        box-shadow: 0 0 3px 0 var(--shadow-color);
      }
    }
  }

  &:disabled {

    highlight,
    progress {
      background-color: color-mix(in srgb, var(--fg) 60%, transparent);
      background-image: none;
    }
  }

  @if $focusable {
    trough:focus {
      background-color: var(--hover-bg);
      box-shadow: inset 0 0 0 var(--border-width) var(--primary-bg);

      slider {
        @if $slider {
          background-color: var(--fg);
          box-shadow: inset 0 0 0 var(--border-width) var(--primary-bg);
        }
      }
    }

  }
}
