@use "sass:math";

@mixin spacing($multiplier: 1, $spacing: var(--spacing), $rec: false) {
  $final-multiplier: $multiplier * 0.5;
  $margin-value: if($final-multiplier == 0.5, calc(var(--spacing) / 2), if($final-multiplier == 0.25, calc(var(--spacing) / 4), if($final-multiplier == 0.4, calc(var(--spacing) * 0.4), if($final-multiplier == 0.375, calc(var(--spacing) * 0.75), if($final-multiplier == 0.75, calc(var(--spacing) * 0.75), $spacing)))));

  &.horizontal>* {
    margin: 0 $margin-value;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &.vertical>* {
    margin: $margin-value 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  @if $rec {
    box {
      &.horizontal>* {
        margin: 0 $margin-value;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }

      &.vertical>* {
        margin: $margin-value 0;

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
