@mixin switch {
  switch:checked {
    background-color: var(--primary-bg);
  }

  switch {
    border-radius: calc(var(--radius) * 2);
  }

  slider {
    border-radius: calc(var(--radius) * 2);
    min-width: 24px;
    min-height: 24px;
  }

  slider:checked {
    background-color: var(--primary-fg);
  }
}
