@use '../../../../style/shared/base' as *;

window#overview {
  background-color: transparent;
  box.overview {
    @extend .floating;
    @include spacing;

    box.workspace {
      @extend .widget;
    }

    button.client {
      border-radius: var(--radius);
      margin: calc(var(--spacing) * 0.25);

      &.active {
        border-color: var(--primary-bg);
      }
    }
  }
}
