window#overview .overview {
  @include floating-widget;
  @include spacing;

  .active {
    box-shadow: 0 0 0 1px var(--primary-bg);
  }

  .workspace {
      @include widget;
      padding: calc(var(--padding) * 0.3);
      border-radius: var(--radius);

      &:hover {
        background-color: var(--hover-bg);
      }

      &:drop(active) {
        border-color: var(--primary-bg);
      }
  }

  .client {
    @include button;
    margin: calc(var(--spacing) * 0.3);
    border-radius: var(--radius);

    &.hidden {
      @include hidden;
      transition: 0;
    }
  }
}
