@use '../../../../style/shared/base' as *;

window#overview {
  background-color: transparent;
  box.overview {
    @extend .floating;
    @include spacing;

    button.workspace {
      padding: calc(var(--spacing) * 0.25);
    }

    button.client {
      border-radius: var(--radius);
      margin: calc(var(--spacing) * 0.25);
    }

    button.outlined.active {
      background-color: var(--widget-bg);
      background-image: none;
      box-shadow: inset 0 0 0 var(--border-width) var(--primary-bg);
    }
  }
}
