@use 'sass:color';

.bar {
  transition: var(--transition);
  background-color: var(--bg);
  padding: calc(var(--padding) * 0.3);

  .panel-button { 
    @include panel-button;
  }

  menubutton {
    button {
      @include panel-button;
    }
  }

  popover {
    contents {
      modelbutton {
        padding: 0pt calc(var(--padding) * 0.8);
      }
      @include floating-widget;
      border-radius: calc(var(--popover-radius) / 2);
      padding: calc(var(--padding) / 2);
    }
  }

  .launcher {
    @include spacing;

    .colored { color: color-mix(in srgb, var(--primary-bg) 80%, transparent); }

    &:hover .colored { color: var(--primary-bg); }
    &:active .colored,
    &.active .colored { color: var(--primary-fg); }
  }

  .workspaces {
    label {
      font-size: 0;
      min-width: 5pt;
      min-height: 5pt;
      border-radius: calc(var(--radius) * 0.6);
      box-shadow: inset 0 0 2px var(--border-width) var(--border-color);
      margin: 0 calc(var(--padding) / 2);
      transition: calc(var(--transition) / 2);
      background-color: color-mix(in srgb, var(--fg) 20%, transparent);

      &.occupied {
        background-color: color-mix(in srgb, var(--fg) 80%, transparent);
        min-width: 7pt;
        min-height: 7pt;
      }

      &.active {
        background-image: var(--active-gradient);
        min-width: 20pt;
        min-height: 12pt;
      }
    }

    &.active, &:active {
      label {
        background-color: color-mix(in srgb, var(--primary-fg) 70%, transparent);

        &.occupied { background-color: color-mix(in srgb, var(--primary-fg) 85%, transparent); }
        &.active { background-color: var(--primary-fg); }
      }
    }
  }

  .quicksettings box { @include spacing(1.5); }

  .quicksettings:not(.active):not(:active) {
    .bluetooth-connected {
      color: var(--primary-bg);
    }
  }
}

.bar.transparent {
  background-color: transparent;

  .panel-button {
    &:hover > * {
      box-shadow: 1px 1px 3px 0 var(--shadow-color), inset 0 0 0 var(--border-width) var(--border-color);
      background-color: var(--bg);
    }

    &:not(:hover):not(.active) {
      label, image {
        -gtk-icon-shadow: var(--text-shadow);
        text-shadow: var(--text-shadow);
      }
    }
  }

  .workspaces label {
    box-shadow: inset 0 0 0 var(--border-width) var(--border-color),
      1px 1px 3px 0 var(--shadow-color);
  }
}
