@use 'sass:color';
@use '../../style/shared/base' as *;

window#bar {
  transition: var(--transition);
  background-color: var(--bg);
  padding: calc(var(--padding) * 0.3);

  button.panel-button,
  overlay.panel-button,
  menubutton button.panel-button,
  menubutton {
    all: unset;
    color: var(--fg);

    > :not(window):not(popover) {
      transition: var(--transition);
      border-radius: var(--radius);
      color: var(--fg);
      background-color: transparent;
      background-image: none;
      box-shadow: none;
      padding: calc(var(--padding) / 2);
      margin: 0 calc(var(--spacing) * 0.6);
      font-weight: bold;
    }

    &:focus > :not(window):not(popover),
    &.focused > :not(window):not(popover) {
      box-shadow: inset 0 0 0 calc(var(--border-width) / 2) var(--primary-bg);
      background-color: var(--hover-bg);
      color: var(--hover-fg);
    }

    &:hover > :not(window):not(popover) {
      box-shadow: inset 0 0 0 var(--border-width) var(--border-color);
      background-color: var(--hover-bg);
      color: var(--hover-fg);
    }

    &:active > :not(window):not(popover),
    &.active > :not(window):not(popover),
    &.on > :not(window):not(popover),
    &:checked > :not(window):not(popover) {
      box-shadow: inset 0 0 0 var(--border-width) var(--border-color);
      background-image: var(--active-gradient);
      background-color: var(--primary-bg);
      color: var(--primary-fg);
    }

    &:active:hover > :not(window):not(popover),
    &.active:hover > :not(window):not(popover) {
      box-shadow: inset 0 0 0 var(--border-width) var(--border-color),
                  inset 0 0 0 0px var(--hover-bg);
    }
  }

  popover contents {
    box-shadow: 0 0 5px 0 var(--shadow-color);
    margin: max(var(--spacing), 8px);
    border: var(--border-width) solid var(--popover-border-color);
    background-color: var(--bg);
    color: var(--fg);
    border-radius: calc(var(--popover-radius) / 2);
    padding: calc(var(--padding) / 2);

    modelbutton {
      padding: 0pt calc(var(--padding) * 0.8);
    }
  }

  box.launcher {
    @include spacing;

    .colored {
      color: color-mix(in srgb, var(--primary-bg) 80%, transparent);
    }

    button:hover .colored {
      color: var(--primary-bg);
    }

    button:active .colored,
    button.active .colored {
      color: var(--primary-fg);
    }
  }

  button.workspaces {
    box {
      @include spacing;
    }

    label {
      font-size: 0;
      min-width: 5pt;
      min-height: 5pt;
      border-radius: calc(var(--radius) * 0.6);
      box-shadow: inset 0 0 2px var(--border-width) var(--border-color);
      margin: 0 calc(var(--padding) / 2);
      transition: calc(var(--transition) / 2);
      background-color: color-mix(in srgb, var(--fg) 20%, transparent);

      &.occupied {
        background-color: color-mix(in srgb, var(--fg) 80%, transparent);
        min-width: 7pt;
        min-height: 7pt;
      }

      &.active {
        background-image: var(--active-gradient);
        min-width: 20pt;
        min-height: 12pt;
      }
    }

    &.active label,
    &:active label {
      background-color: color-mix(in srgb, var(--primary-fg) 70%, transparent);

      &.occupied {
        background-color: color-mix(in srgb, var(--primary-fg) 85%, transparent);
      }

      &.active {
        background-color: var(--primary-fg);
      }
    }
  }

  button.quicksettings box,
  box.quicksettings box {
    @include spacing(1.5);
  }

  button.quicksettings:not(.active):not(:active) .bluetooth-connected {
    color: var(--primary-bg);
  }
}

window#bar.transparent {
  background-color: transparent;

  button:hover > * {
    box-shadow: 1px 1px 3px 0 var(--shadow-color), inset 0 0 0 var(--border-width) var(--border-color);
    background-color: var(--bg);
  }

  button:not(:hover):not(.active) {
    label,
    image {
      -gtk-icon-shadow: var(--text-shadow);
      text-shadow: var(--text-shadow);
    }
  }

  box.workspaces label {
    box-shadow: inset 0 0 0 var(--border-width) var(--border-color), 1px 1px 3px 0 var(--shadow-color);
  }
}
