@use "sass:color";

window#state-display .state-display {
  @include floating-widget;
  padding: calc(var(--padding) * 2.25);

  image {
    padding: var(--popover-padding);
    color: color-mix(in srgb, var(--fg) 90%, transparent);
  }

  .percentage {
    @include slider($width: .5em, $focusable: false, $slider: false);
    trough {
      border: none;
    }

    &.muted {
      trough progress {
        background-image: none;
        background-color: color-mix(in srgb, var(--fg) 80%, transparent);
      }
    }
  }
}
