// Styles the volume and brightness indicator and its muted bar.
@use '../../style/base' as *;

window#state-display box.state-display {
  @extend .floating;
  padding: calc(var(--padding) * 2.25);

  image {
    padding: var(--popover-padding);
    color: color-mix(in srgb, var(--fg) 90%, transparent);
  }
}
