@use 'sass:color';
@use '../../style/base' as *;

.placeholder {
  @include spacing(.5);
  padding: calc(var(--padding) * 2);

  image {
    color: color-mix(in srgb, var(--fg) 70%, transparent);
    margin-bottom: .1em;
  }

  label {
    color: color-mix(in srgb, var(--fg) 70%, transparent);
    font-size: 1.25em;
  }
}

window.placeholder {
  box {
    @include spacing(0.5);
  }

  label {
    font-size: 72pt;
    font-weight: bold;
  }
}
