window#desktop {
  all: unset;

  .desktop {
    all: unset;
    padding: 20px;

    .desktop-container {
      all: unset;
      padding: 20px;

      .desktop-icon {
        all: unset;
        padding: 10px;
        margin: 5px;
        border-radius: calc($radius * 0.8);
        min-width: 80px;
        min-height: 100px;

        &:hover {
          background: rgba(255, 255, 255, 0.1);
          box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
        }

        &.selected {
          background: rgba($primary-bg, 0.3);
          box-shadow: inset 0 0 0 1px $primary-bg;
        }

        &.dragging {
          opacity: 0.7;
          transform: scale(1.05);
        }

        image {
          margin-bottom: 4px;
        }

        .desktop-icon-label {
          font-size: 1.1em;
          color: white;
          text-shadow:
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px 1px 0 black,
            1px 1px 0 black,
            0px -1px 0 black,
            0px 1px 0 black,
            -1px 0px 0 black,
            1px 0px 0 black;
          font-weight: 500;
        }
      }
    }
  }
}
