@use "sass:color";

 window#osd {
  background-color: transparent;

  progress {
    background-color: $primary-bg;
    color: $primary-fg;
  }

    box {
      @include floating-widget;

      image {
        margin: $spacing;
        padding: $popover-padding;
        color: color.scale($fg, $alpha: -10%)
      }
    }
}
