@use "sass:color";

 window#osd {
  @include slider($width: 0.5em, $focusable: false, $slider: false);

  trough {
    border: none;
  }

  .muted progress {
    background-image: none;
    background-color: color.scale($fg, $alpha: -20%);
  }

  .padding {
    @include floating-widget;
    padding: $popover-padding * 1.25;
  }

  .content {
    image {
      padding: $popover-padding * 1.4;
      color: color.scale($fg, $alpha: -10%)
    }
  }
}
