@use "sass:color";

window#state-display .state-display {
  @include floating-widget;
  padding: $padding * 2.25;

  image {
    padding: $popover-padding;
    color: color.scale($fg, $alpha: -10%);
  }

  .percentage {
    @include slider($width: .5em, $focusable: false, $slider: false);
    trough {
      border: none;
    }

    &.muted {
      trough progress {
        background-image: none;
        background-color: color.scale($fg, $alpha: -20%);
      }
    }
  }
}
