window#overview .overview {
  @include floating-widget;
  @include spacing;

  .active {
    box-shadow: 0 0 0 1px $primary-bg;
  }

  .workspace {
      @include widget;
      border-radius: if($radius ==0, 0, $radius + $padding);
      padding: 0;

      &:hover {
        background-color: $hover-bg;
      }

      &:drop(active) {
        border-color: $primary-bg;
      }
  }

  .client {
    @include button;
    border-radius: $radius;
    margin: $padding;

    &.hidden {
      @include hidden;
      transition: 0;
    }
  }
}
