@use "sass:color";
@use '../../style/base' as *;

%reset-button {
  background-color: transparent;
  background-image: none;
  box-shadow: none;

  &:active {
    box-shadow: inset 0 0 0 var(--border-width) var(--border-color);
    background-image: var(--active-gradient);
    background-color: var(--primary-bg);
    color: var(--primary-fg);
  }
}

window.settings-dialog {
  background-color: var(--bg);
  color: var(--fg);

  box.header {
    padding: var(--padding);

    box.pager {
      @include spacing;

      button {
        padding: calc(var(--padding) * 0.4) calc(var(--padding) * 0.75);

        > box.horizontal > * {
          margin: 0 0.15em;

          &:first-child {
            margin-left: 0;
          }

          &:last-child {
            margin-right: 0;
          }
        }

        > box.vertical > * {
          margin: 0.15em 0;

          &:first-child {
            margin-top: 0;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    button.reset {
      @extend %reset-button;
      padding: calc(var(--padding) / 2);
    }

    button.close {
      padding: calc(var(--padding) / 2);
    }
  }

  scrolledwindow.page box.page-content {
    padding: calc(var(--padding) * 2);
    padding-top: 0;
  }

  box.group {
    .header {
      label.title {
        color: var(--primary-bg);
        font-weight: bold;
      }

      button.reset {
        @extend %reset-button;
        padding: calc(var(--padding) / 2);

        &:disabled {
          color: transparent;
        }
      }
    }
  }

  box.row {
    background-color: var(--widget-bg);
    padding: var(--padding);
    border: var(--border);
    border-top: none;

    &:first-child {
      border-radius: var(--radius) var(--radius) 0 0;
      border: var(--border);
    }

    &:last-child {
      border-radius: 0 0 var(--radius) var(--radius);
    }

    &:first-child:last-child {
      border-radius: var(--radius);
      border: var(--border);
    }

    label.id,
    label.note {
      color: color-mix(in srgb, var(--fg) 60%, transparent);
    }



    button.reset {
      @extend %reset-button;
      padding: calc(var(--padding) / 2);
      margin-left: var(--spacing);
    }

    colorswatch {
      border-radius: calc(var(--radius) / 4);
    }

    picture.preview {
      border-radius: var(--radius);
      min-height: 15em;
      min-width: 15em;
    }
  }
}
