@use 'sass:color';
@import '../Notifications/style.scss';

window#datemenu .datemenu {
  @include floating-widget;

  .notifications {
    .notifications-header {
      margin-bottom: calc(var(--padding) * 1.5);
      margin-right: calc(var(--padding) * 1.5);

      button {
        @include button;
        padding: calc(var(--padding) * 0.7) var(--padding);

        box { @include spacing(.5); }
      }
    }

    .notification-scrollable {
      @include scrollable($top: true, $bottom: true);
      margin-right: calc(var(--padding) * 1.5);
    }

    .notification { @include widget; @include notification; padding: var(--padding); margin-bottom: var(--spacing); }
  }

  separator {
    background-color: var(--popover-border-color);
    border-radius: var(--radius);
    margin-right: calc(var(--padding) * 1.5);
  }

  .datemenu { @include spacing; }

  .clock-box {
    .clock { font-size: 5em; }
    .uptime { color: color-mix(in srgb, var(--fg) 80%, transparent); margin-bottom: calc(var(--padding) * 2); }
  }

  .calendar { @include calendar; }
}
