@use '../../style/base' as *;

window#dock {
  all: unset;
  background: transparent;

  .dock {
    all: unset;
    padding: 0;
    margin-bottom: 16px;

    &.hidden {
      transform: translateY(100px);
      transition: transform var(--transition) ease-out;
    }

    &.visible {
      transform: translateY(0);
      transition: transform var(--transition) ease-out;
    }

    .dock-container {
      all: unset;
      background: var(--bg);
      border-radius: calc(var(--radius) * 1.75);
      padding: 4px 2px 2px 2px;
      border: var(--border);
      box-shadow: 0 0 5px 0 var(--shadow-color);

      .dock-icon {
        margin: 0 1.25px;

        .app-button, button.dock-icon {
          all: unset;
          box-shadow: none;
          background-color: transparent;
          background-image: none;
          border: none;
          padding: 4px;
          border-radius: calc(var(--radius) * 0.8);
          transition: all 200ms cubic-bezier(0.23, 1, 0.32, 1);

          &:hover {
            transform: translateY(-2px);
          }

          &:active {
            transform: translateY(0px) scale(0.98);
          }

          &.launching {
            animation: subtle-jump 250ms ease-out;
          }

          image {
            transition: all 200ms cubic-bezier(0.23, 1, 0.32, 1);
            border-radius: calc(var(--radius) * 0.6);
          }
        }

        @keyframes subtle-jump {
          0% { transform: translateY(0px); }
          30% { transform: translateY(-8px); }
          100% { transform: translateY(0px); }
        }

        .focused {
          min-height: 6px;
          min-width: 6px;
          background: var(--primary-bg);
          border-radius: 50%;
          margin-top: 0px;
        }
      }
    }
  }
}
