@use '../../../../style/base' as *;

window#bar box.battery {
  @include spacing(0.5);
}

window#batterystate {
  background-color: transparent;
  box.batterystate {
    @extend .floating;
    @include spacing(0.5);

    label {
      font-weight: bold;
    }
  }
}
